<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l1">
                <a class="white-text" style="font-family:samarkan; font-size:20px">Gurukul</a>
              </div>
              <div class="col s12 m12 l1">
                <a class="white-text"> <i class="small material-icons">facebook</i></a>
              </div>
              <div class="col s12 m12 l1">
                <a class="white-text"> <i class=" small material-icons">people</i></a >
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Gurukul
            </div>
          </div>