<head>
        {% load static %}
         <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
</head>

<body>
        <br>
        <br>
        {% include "includes/navbar.html" %}
        {% include "includes/messages.html" %}
        
        <div class="container">
                <br>
                
                {% comment %} <a class="waves-effect waves-teal btn-flat">Back</a> {% endcomment %}
                
                {% block content %}
                {% endblock %}
        </div>


        
        
</body>
<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script>M.AutoInit();</script>