{% extends 'main/header.html' %}

{% block content %}

    <div class="row">
            <div class="col s12 m6 l4">
                <a href="student_section", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Students Start here</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>
                            <p>{{cat.category_summary}}</p>-->
                        </div>
                    </div>
                </a>
                <a href="student_section", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">Educators Start here</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>
                            <p>{{cat.category_summary}}</p>-->
                        </div>
                    </div>
                </a>
            </div>
    </div>
{% endblock %}