{% extends 'main/header.html' %}
{% block content %}
     
    <a href="javascript:history.go(-1)",class="waves-effect waves-teal btn-flat">Back</a>
    <div class="row">
        <div class="col s12, m8, l12">
            <h3 style="font-family:samarkan">What we do ?</h3>
            <p style="font-size:100%">Gurukul revolutionizes literacy by bringing formal education to the grass root level of India
                        Gurukul as the name suggest is an education-based startup, bringing formal education to rural india and creating employment opportunities for the local. We aim at imparting proper exposure and skill development at an affordable rate paving a way for the bright future of the inquisitive young minds of the country. With personalized attention, doubt solving and jaw dropping network facilities at our center, we look for the all-round development of the students.</p>
            <h3 style="font-family:samarkan">Our Mission</h3>
            <p style="font-size:100%">Our mission is to train and nurture young minds to think outside the box.
                With the current education system, it is almost impossible to let your minds wander from
                conventionality. This is precisely what we aim to tackle by helping you explore all
                possibilities out there.</p>
        </div>

         

    </div>
{% endblock content %}